[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
channels = "*"
channels-redis = "*"
django = "*"
django-braces = "*"
django-debug-toolbar = "*"
django-environ = "*"
django-embed-video = "*"
django-extensions = "*"
django-redisboard = "*"
djangorestframework = "*"
pillow = "*"
redis = "*"
requests = "*"
daphne = "*"
gunicorn = "*"
psycopg2 = "*"
werkzeug = "*"

[requires]
python_version = "3.10"
